// Заголовки, общие БЄМ блоки и проче...

* {
    color: #e3dede;
    letter-spacing: 0.05em;
    font-weight: 500;
}

.button {
    display: flex;
    align-items: center;
    font-weight: 500;
    @include adaptiveClamp(font-size, 18, 16);
    letter-spacing: 0.05em;
    border: 1px solid #fff;
    border-radius: rem(15);
    text-align: center;
    @include adaptiveClamp(padding-top, 13, 8);
    @include adaptiveClamp(padding-left, 40, 20);
    @include adaptiveClamp(padding-bottom, 14, 12);
    @include adaptiveClamp(padding-right, 40, 20);
    background: none;
    transition: all 0.3s ease-in-out  0s;


    &:hover {
        box-shadow: 0px 0px 7px rgba(#ff0000, 70%), 0px 0px 7px rgba(#48008c, 70%);;
        // text-shadow: 0px 0px 5px rgba(#ff0000, 70%), 0px 0px 5px rgba(#8c0000, 70%);;
    }

    &:active {
        transform: scale(0.98);
    }
}